.modal{
    position: relative; 
    display:none;
    font-family:Arial, Helvetica, sans-serif;
    color:#808080;
    line-height:28px;
    font-size:15px;
    text-align:justify; 
    z-index: 201;
}

input, textarea, select{
    background-color: #FFF;
    /*border: #DDD solid 2px;*/
    /*height: 40px;*/
    font-size: 16px;
}

input:focus, textarea:focus, select:focus{
    background-color: #DDEEFF;
}

.input-error{
    background-color: #FFDDDD;
}

.btn {
    -moz-box-shadow:inset 0px 1px 26px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 26px 0px #bbdaf7;
    box-shadow:inset 0px 1px 26px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    text-indent:0;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #528ecc;
    padding: 7px;
}
.btn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
    cursor: pointer;

}.btn:active {
    position:relative;
    top:1px;
}
.txtFooter{
    font-size: .6em;
}
.calendario{
    background-position: right center;
    background-image: url(../img/calendario_icon.png);
    background-repeat: no-repeat;
    background-origin: content-box;
}
.horas{
    background-position: right center;
    background-image: url(../img/reloj_icon.png);
    background-repeat: no-repeat;
    background-origin: content-box;
}
.tbl_labels{
    text-align: right;
    vertical-align: middle;
}

.fechaHeader{
    font-size: 0.7em;
    text-align: right;
}
/*Iconos de Autorización*/
.ico-autorizacion{
    background: url(../img/autorizado_no.png) no-repeat center top;
    width: 40px;
    height: 40px;
}
.ico-autorizacion-si{
    background: url(../img/autorizado_active.png) no-repeat center top;
    width: 40px;
    height: 40px;
}
.ico-autorizacion-no{
    background: url(../img/no_autorizado_active.png) no-repeat center top;
    width: 40px;
    height: 40px;
}

.popup-ico{
    float: left; 
    margin: 0px 15px 15px 0px;
}

.popup-txt{
    margin-top: -5%;
    margin-left: 30%;
    width: 250px;
    text-align: left;    
}

#btn-xls{
    width: 150px;
    margin-top: 1%;
    margin-left: 35%;
    text-align:center;
}
.xls{
    width: 220px;
    height:30px; 
    margin-left: 35%;
}
.xls ul {
    list-style-image: url(../img/excel.gif);
    width: 90%;
    margin: auto;
}

.link-xls{
    padding-left: 25px;
    background: url(../img/excel.gif) no-repeat left top;
}

/*Slider JQuery UI*/
.slider-container{
    /*width: 100%;*/
    height: 30px;
    padding-top: 15px;    
}
.slider-label{
    float: left;
    border: 0; 
    color: #f6931f; 
    font-weight:bold; 
    width:18px;    
    margin-top: -8px;
}
.slider-bar{
    float: left;
    width: 80%;
    margin-left: 10px;    
    vertical-align: middle;
}
.slider-label-horas{
    background-position: right center;
    background-image: url(../img/reloj_icon.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    float: left;
    border: 0; 
    color: #f6931f; 
    font-weight:bold; 
    width:30px;    
    margin-top: -8px;
}
/*Textbox*/
.txt-semanas{ 
    width:18px;
    vertical-align: middle;
    color: #f6931f; 
    font-weight:bold;
}
/*Tabla Reportes*/
table.reportes{
    background-color: #efefef;
    border: 1px solid #d8d8d8;
}

.tabla-reportes {
    margin:0px;padding:0px;
    width:100%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #007f7f;
    
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px;
    
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
    
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;
    
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
}
.tabla-reportes table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}
.tabla-reportes thead th {
    background:-o-linear-gradient(bottom, #00bfbf 5%, #408080 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00bfbf), color-stop(1, #408080) );
    background:-moz-linear-gradient( center top, #00bfbf 5%, #408080 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00bfbf", endColorstr="#408080");  background: -o-linear-gradient(top,#00bfbf,#408080);
    background-color:#00bfbf;
    border:0px solid #007f7f;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:15px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
.tabla-reportes tr:nth-child(odd){ 
    background:-o-linear-gradient(bottom, #aaffff 5%, #fff 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #aaffff), color-stop(1, #fff) );
    background:-moz-linear-gradient( center top, #aaffff 5%, #fff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#aaffff", endColorstr="#fff");  background: -o-linear-gradient(top,#aaffff,#fff);
    
    background-color:#E1FFFF; 
}
.tabla-reportes tr:nth-child(even){ 
    /*background:-o-linear-gradient(bottom, #fff 5%, #aaffff 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fff), color-stop(1, #aaffff) );
    background:-moz-linear-gradient( center top, #fff 5%, #aaffff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff", endColorstr="#aaffff");  background: -o-linear-gradient(top,#fff,#aaffff);
    */
    background-color:#ffffff; 
}
.tabla-reportes td{
    vertical-align:middle;
    border:1px solid #007f7f;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:12px;
    font-family:Arial;
    font-weight:bold;
    color:#000000;
}
.tabla-reportes tr:last-child td{
    border-width:0px 1px 0px 0px;
}
.tabla-reportes tr td:last-child{
    border-width:0px 0px 1px 0px;
}
.tabla-reportes tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}

.tabla-reportes tr:hover td{
    background:-o-linear-gradient(bottom, #00bfbf 5%, #D9ECEC 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00bfbf), color-stop(1, #D9ECEC) );
    background:-moz-linear-gradient( center top, #00bfbf 5%, #D9ECEC 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00bfbf", endColorstr="#D9ECEC");  background: -o-linear-gradient(top,#00bfbf,#D9ECEC);
    background-color:#00bfbf;
}
.tabla-reportes tr{
    text-align: center;
    vertical-align: middle;
}
/*--*/